{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Главная</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Функции</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Ценообразование</a></li>
                <li class="nav-item"><a href="#" class="nav-link">{{ user }}</a></li>
                <li class="nav-item"><a href="/admin" class="nav-link">Админ</a></li>
            </ul>
        </header>
    </div>
    <div class="row m-4">
        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    <span>Категории</span>
                </div>
                <div class="list-group-flush">
                    <a href="/" role="button" class="list-group-item btn-outline-dark">Все записи</a>
                    {% if categories %}
                        {% for cat in categories %}
                            <a href="/?category={{ cat.id }}" role="button"
                               class="list-group-item btn-outline-dark">{{ cat.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            {% if items %}
                <div class="row row-col-auto">
                    {% for i in items %}
                        <div class="col-auto">
                            <div class="card mb-2" style="width: 18rem">
                                <img class="card-img-top" src="{{ i.img.url }}"/>
                                <div class="card-body">
                                    <h1 class="fs-5">{{ i.name }}</h1>
                                    <span class="fs-6">{{ i.description }}</span>
                                </div>
                                <div class="card-footer">
                                    <span class="fs-6">Цена: {{ i.price }} руб</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning fs-4 border-dark">
                    Записей в этой категории нет
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}